[Unit]
Description=FirstBitcoinCapitalCorp Wallet
After=network.target

[Service]
Type=forking
User=bit
ExecStart=/usr/bin/bitcfd -daemon -datadir=/var/lib/bit/.FirstBitcoinCapitalCorp -conf=/var/lib/bit/.FirstBitcoinCapitalCorp/bitcf.conf -pid=/var/lib/bit/.FirstBitcoinCapitalCorp/bitcfd.pid
ExecStop=/usr/bin/bitcf-cli -datadir=/var/lib/bit/.FirstBitcoinCapitalCorp stop
ExecReload=/usr/bin/kill -HUP $MAINPID
PIDFile=/var/lib/bit/.FirstBitcoinCapitalCorp/bitcfd.pid
Restart=on-failure

[Install]
WantedBy=multi-user.target
